$color-1: #0db0bc; // maximum blue green
$color-2: #292929; // jet
$color-3: #fb8b24; // dark orange
$color-4: #F44174; // paradise pink
$color-bg: #666;
$color-bg-dark: #282828;
$color-bg-light: #383838;
$color-window-bg: linear-gradient(to bottom, $color-bg-dark 35%, $color-bg-light 90%);
$color-text: #e6e6e6;
$color-lines: #b6b6b6;
