@import "_colors";
@import "@/styles/ui";
@import "@/styles/form";
@import "@/styles/typography";
@import "@/styles/tooltip";

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    overscroll-behavior-x: none; /* disable navigation back/forward swipe on Chrome */
}

.divider {
    border: none;
    border-bottom: 1px dashed $color-lines;
}

// typography

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("~@/assets/fonts/nunito.woff") format("woff");
    // Latin extended range
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

// shared Vue components

.vue-js-switch {
    width: auto !important;
    margin-right: $spacing-small;

    .v-switch-core {
        background-color: $color-bg !important;
    }
    .v-switch-button {
        background-color: #FFF !important;
    }
    &.toggled {
        .v-switch-core {
            background-color: $color-1 !important;
        }
        .v-switch-button {
            background-color: #FFF !important;
        }
    }
}

// scrollbars

@include large() {
    ::-webkit-scrollbar {
        width: 12px;
    }

    ::-webkit-scrollbar-corner {
        background-color: $color-bg;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: $spacing-medium;
        background-color: $color-bg;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: $spacing-medium;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
        background-color: $color-1;
    }
}
