@import "_colors";
@import "@/styles/ui";
@import "@/styles/form";
@import "@/styles/typography";
@import "@/styles/tooltip";

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    overscroll-behavior-x: none; /* disable navigation back/forward swipe on Chrome */
}

.divider {
    border: none;
    border-bottom: 1px dashed $color-lines;
}

/* shared Vue components */

.vue-js-switch {
    width: auto !important;
    margin-right: $spacing-small;

    .v-switch-core {
        background-color: $color-2 !important;
    }
    .v-switch-button {
        background-color: #FFF !important;
    }
    &.toggled {
        .v-switch-core {
            background-color: $color-1 !important;
        }
        .v-switch-button {
            background-color: #FFF !important;
        }
    }
}
