/* layout variables */

$mobile-width: 640px; // the threshold below which we start to use the mobile view
$ideal-width: 990px;
$menu-height: 46px;
$heading-height: 40px;

/* document preview variables */

$preview-ideal-width: 1280px;
$preview-ideal-height: 700px;
$preview-max-height: $preview-ideal-height - 55px;

/* spacing units used for global margins / paddings */

$spacing-xxsmall: 2px;
$spacing-xsmall: 4px;
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 28px;
$spacing-xlarge: 32px;
$spacing-xxlarge: 48px;
