@import "_mixins";
@import "typography";

@mixin component {
    position: relative;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
    background-image: $color-window-bg;

    h2 {
        display: block;
        margin: 0;
        padding: $spacing-small $spacing-medium;
        @include boxSize();
        @include truncate();
        @include customFont();
        color: $color-text;
        background-image: $color-window-bg;
        height: $heading-height;
        border-bottom: 1px solid $color-1;
    }

    .content {
        @include boxSize();

        @include large() {
            padding: $spacing-medium;
            height: calc(100% - #{$heading-height});
        }
        @include mobile() {
            padding: $spacing-xsmall $spacing-small;
        }
    }

    .close-button {
        cursor: pointer;
        position: absolute;
        top: $spacing-small;
        right: $spacing-small;
    }
}
