// generated content
.font-preview {
    background-image: url("/img/font-previews/font-previews-fs8.png");
    width: 316px;
    height: 24px;
}
.AbrilFatface {
    background-position: 0 -0px;
}
.AlfaSlabOne {
    background-position: 0 -24px;
}
.AmaticSC {
    background-position: 0 -48px;
}
.AnonymousPro {
    background-position: 0 -72px;
}
.ArchitectsDaughter {
    background-position: 0 -96px;
}
.Arvo {
    background-position: 0 -120px;
}
.Audiowide {
    background-position: 0 -144px;
}
.B612Mono {
    background-position: 0 -168px;
}
.Bangers {
    background-position: 0 -192px;
}
.BebasNeue {
    background-position: 0 -216px;
}
.BungeeOutline {
    background-position: 0 -240px;
}
.Caveat {
    background-position: 0 -264px;
}
.CaveatBrush {
    background-position: 0 -288px;
}
.Comfortaa {
    background-position: 0 -312px;
}
.Courgette {
    background-position: 0 -336px;
}
.CourierPrime {
    background-position: 0 -360px;
}
.CutiveMono {
    background-position: 0 -384px;
}
.Damion {
    background-position: 0 -408px;
}
.DancingScript {
    background-position: 0 -432px;
}
.DarkerGrotesque {
    background-position: 0 -456px;
}
.EuphoriaScript {
    background-position: 0 -480px;
}
.FiraCode {
    background-position: 0 -504px;
}
.FredokaOne {
    background-position: 0 -528px;
}
.GillSans {
    background-position: 0 -552px;
}
.GreatVibes {
    background-position: 0 -576px;
}
.HanaleiFill {
    background-position: 0 -600px;
}
.Helvetica {
    background-position: 0 -624px;
}
.IBMPlexMono {
    background-position: 0 -648px;
}
.Inconsolata {
    background-position: 0 -672px;
}
.IndieFlower {
    background-position: 0 -696px;
}
.JetbrainsMono {
    background-position: 0 -720px;
}
.KaushanScript {
    background-position: 0 -744px;
}
.Lato {
    background-position: 0 -768px;
}
.Lora {
    background-position: 0 -792px;
}
.MajorMonoDisplay {
    background-position: 0 -816px;
}
.Mali {
    background-position: 0 -840px;
}
.Merriweather {
    background-position: 0 -864px;
}
.MerriweatherSans {
    background-position: 0 -888px;
}
.Montserrat {
    background-position: 0 -912px;
}
.Mukta {
    background-position: 0 -936px;
}
.NanumGothic {
    background-position: 0 -960px;
}
.NanumGothicCoding {
    background-position: 0 -984px;
}
.NanumPenScript {
    background-position: 0 -1008px;
}
.NerkoOne {
    background-position: 0 -1032px;
}
.NotoSansJP {
    background-position: 0 -1056px;
}
.NotoSansKR {
    background-position: 0 -1080px;
}
.NotoSansTC {
    background-position: 0 -1104px;
}
.NotoSerif {
    background-position: 0 -1128px;
}
.NovaMono {
    background-position: 0 -1152px;
}
.Nunito {
    background-position: 0 -1176px;
}
.NunitoSans {
    background-position: 0 -1200px;
}
.OpenSans {
    background-position: 0 -1224px;
}
.OpenSansCondensed {
    background-position: 0 -1248px;
}
.Oswald {
    background-position: 0 -1272px;
}
.OverpassMono {
    background-position: 0 -1296px;
}
.OxygenMono {
    background-position: 0 -1320px;
}
.PTMono {
    background-position: 0 -1344px;
}
.PTSerif {
    background-position: 0 -1368px;
}
.Pacifico {
    background-position: 0 -1392px;
}
.PatrickHand {
    background-position: 0 -1416px;
}
.PatuaOne {
    background-position: 0 -1440px;
}
.PermanentMarker {
    background-position: 0 -1464px;
}
.PlayfairDisplay {
    background-position: 0 -1488px;
}
.PlayfairDisplaySC {
    background-position: 0 -1512px;
}
.Poppins {
    background-position: 0 -1536px;
}
.Raleway {
    background-position: 0 -1560px;
}
.Redressed {
    background-position: 0 -1584px;
}
.Righteous {
    background-position: 0 -1608px;
}
.Roboto {
    background-position: 0 -1632px;
}
.RobotoCondensed {
    background-position: 0 -1656px;
}
.RobotoMono {
    background-position: 0 -1680px;
}
.RobotoSlab {
    background-position: 0 -1704px;
}
.RockSalt {
    background-position: 0 -1728px;
}
.Rubik {
    background-position: 0 -1752px;
}
.Sacramento {
    background-position: 0 -1776px;
}
.Satisfy {
    background-position: 0 -1800px;
}
.ShadowsIntoLight {
    background-position: 0 -1824px;
}
.SourceCodePro {
    background-position: 0 -1848px;
}
.SourceSansPro {
    background-position: 0 -1872px;
}
.SpaceMono {
    background-position: 0 -1896px;
}
.Staatliches {
    background-position: 0 -1920px;
}
.Ubuntu {
    background-position: 0 -1944px;
}
.UbuntuMono {
    background-position: 0 -1968px;
}
.VT323 {
    background-position: 0 -1992px;
}
.VarelaRound {
    background-position: 0 -2016px;
}
.WorkSans {
    background-position: 0 -2040px;
}
.XanhMono {
    background-position: 0 -2064px;
}
.Yellowtail {
    background-position: 0 -2088px;
}
