@import "_mixins";

$labelWidth: 35%;
$inputWidth: 65%;

.form {
    .wrapper {
        margin: $spacing-small 0;

        &.slider {
            .vue-slider {
                width: calc(#{($inputWidth - 2%)} - #{$spacing-medium}) !important;
                margin-left: $spacing-small;
            }
        }

        // use where there is no <label> element
        &.full {
            width: 200%;
            margin-left: $spacing-xsmall;
        }

        label {
            display: inline-block;
            width: $labelWidth;
        }

        .input-field,
        .input-textarea,
        .form-element {
            display: inline-block;
            width: $inputWidth;
        }
        .vue-slider {
            display: inline-block;
            width: $inputWidth !important;
            vertical-align: middle;
        }
        .input-field,
        .input-textarea {
            box-sizing: border-box;
            border-radius: $spacing-small;
            border: none;
            padding: #{$spacing-small + $spacing-xsmall} $spacing-medium;
            font-size: 95%;
        }
        .full {
            width: 100%;
        }
    }
}
