@import "_mixins";

.tool-option {
    border-bottom: 1px dashed $color-lines;
    margin: 0;
    padding: 0 0 $spacing-medium 0;

    h3 {
        color: #FFF;
    }
}

.actions {
    margin: $spacing-small 0;
    display: flex;

    button {
        flex: 1;
        margin: 0 $spacing-small;
    }
}
