@import "@/styles/component";

$collapsed-panel-width: 40px; // large view
$collapsed-panel-height: 40px; // mobile view

@mixin panel() {
    @include component();
    width: 100%;
    height: 100%;
    overflow: hidden;

    .component__content {
        padding: $spacing-small $spacing-medium $spacing-medium;
        overflow-x: hidden;
        overflow-y: auto;
    }

    @include mobile() {
        .component__content {
            max-height: calc(100% - #{$heading-height});
            overflow-x: hidden;
            overflow-y: auto;
            padding: $spacing-small $spacing-medium;
        }
    }

    // overrides component mixin
    .component__close-button {
        top: $spacing-small - $spacing-xxsmall;
        right: $spacing-small;
        width: 36px;
        height: 29px;

        img {
            width: $spacing-medium + $spacing-small;
            height: $spacing-medium + $spacing-small;
        }
    }

    .component__actions {
        margin: $spacing-small 0;
        padding: 0 $spacing-medium;
        box-sizing: border-box;
        display: flex;

        button {
            flex: 1;
            margin: 0 $spacing-small;
        }
    }

    &.collapsed {
        @include large() {
            width: $collapsed-panel-width;

            .component__title {
                display: none;
            }
        }
        .component__close-button {
            right: $spacing-xxsmall;
        }
    }
}
