@use "@/styles/_mixins";
@use "@/styles/_variables";
@use "@/styles/component";

$collapsed-panel-width: 40px; // large view
$collapsed-panel-height: 40px; // mobile view

@mixin panel() {
    @include component.component();

    & {
        width: 100%;
        height: 100%;
        overflow: hidden;

        :deep(.component__content) {
            padding: variables.$spacing-small variables.$spacing-medium variables.$spacing-medium;
            overflow-x: hidden;
            overflow-y: auto;
        }

        @include mixins.mobile() {
            :deep(.component__content) {
                max-height: calc(100% - #{variables.$heading-height});
                overflow-x: hidden;
                overflow-y: auto;
                padding: variables.$spacing-small variables.$spacing-medium;
            }
        }

        // overrides component mixin
        :deep(.component__header-button) {
            top: variables.$spacing-small - variables.$spacing-xxsmall;
            right: variables.$spacing-small;
            width: 36px;
            height: 29px;

            img {
                width: variables.$spacing-medium + variables.$spacing-small;
                height: variables.$spacing-medium + variables.$spacing-small;
            }
        }

        :deep(.component__actions) {
            margin: variables.$spacing-small 0;
            padding: 0 variables.$spacing-medium;
            box-sizing: border-box;
            display: flex;

            button {
                flex: 1;
                margin: 0 variables.$spacing-small;
            }
        }

        &.collapsed {
            @include mixins.large() {
                width: $collapsed-panel-width;

                :deep(.component__title) {
                    display: none;
                }
            }
            :deep(.component__header-button) {
                right: variables.$spacing-xxsmall;
            }
        }
    }
}
