@import "_mixins";

@mixin thirdPartyButton( $color, $optHoverColor: #FFF ) {
    width: 100%;
    border: 2px solid $color;
    color: #FFF;
    margin: $spacing-small 0 0;
    background: transparent;

    &:hover {
        border-color: $color;
        background-color: $color;
        color: $optHoverColor;
    }
}

.dropbox {
    @include thirdPartyButton( #3D9AE8 );
}

.drive {
    @include thirdPartyButton( #FFD04B, #000 ); // #1FA463
}

.s3 {
    @include thirdPartyButton( #F90, #000 );
}
