@use "@/styles/_variables";

.tool-option {
    margin: 0;
    padding: 0;

    h3 {
        color: #FFF;
    }

    label {
        font-size: 90%;
    }

    .actions {
        margin: variables.$spacing-small 0;
        display: flex;

        button {
            flex: 1;
            margin: 0 variables.$spacing-small 0 0;
        }
    }
}
