@import "_variables";
@import "_mixins";
@import "colors";

@mixin customFont() {
    font-family: "Nunito", sans-serif;
}

@mixin bodyFont() {
    font-family: "Helvetica Neue", Helvetica, Verdana, sans-serif;
}

body {
    color: #b7babe;
    font-size: $spacing-medium;
    line-height: 1.5;
    @include bodyFont();
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    color: $color-1;
}

h2 {
    font-size: 100%;
    font-weight: bold;
    color: #b6babe;
    padding: $spacing-small $spacing-large;
    display: inline;
}

h3 {
    font-size: 110%;
    margin: $spacing-small 0;
}

p {
    font-family: sans-serif;
}

a, a:visited {
    color: $color-1;
    text-decoration: underline;

    &:hover {
        color: $color-1;
        text-decoration: none;
    }
}

@mixin smallText() {
    font-size: 85%;
    padding: $spacing-medium;
    @include boxSize();
    border: 1px solid $color-lines;
    border-radius: $spacing-medium;
}
