@import "_variables";
@import "_mixins";
@import "colors";

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("~@/assets/fonts/nunito.woff") format("woff");
    // Latin extended range
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@mixin customFont() {
    font-family: "Nunito", sans-serif;
}

@mixin bodyFont() {
    font-family: "Helvetica Neue", Helvetica, Verdana, sans-serif;
}

body {
    color: #b7babe;
    font-size: $spacing-medium;
    line-height: 1.5;
    @include bodyFont();
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    color: $color-1;
}

h2 {
    font-size: 100%;
    font-weight: bold;
    color: #b6babe;
    padding: $spacing-small $spacing-large;
    display: inline;
}

h3 {
    font-size: 110%;
    margin: $spacing-small 0;
}

p {
    font-family: sans-serif;
}

a, a:visited {
    color: $color-1;
    text-decoration: underline;

    &:hover {
        color: $color-1;
        text-decoration: none;
    }
}

@mixin smallText() {
    font-size: 85%;
    padding: $spacing-medium;
    @include boxSize();
    border: 1px solid $color-lines;
    border-radius: $spacing-medium;
}
