@import "_variables";
@import "colors";

@mixin customFont() {
    // loaded from Google fonts, see index.html
    font-family: 'Nunito', sans-serif;
}

body {
    color: #b7babe;
    font-size: $spacing-medium;
    font-family: "Helvetica Neue", Helvetica, Verdana, sans-serif;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    @include customFont();
    font-weight: normal;
    color: $color-1;
}

h2 {
    font-size: 100%;
    font-weight: bold;
    color: #b6babe;
    padding: $spacing-small $spacing-large;
    display: inline;
}

h3 {
    font-size: 110%;
    margin: $spacing-small 0;
}

p {
    font-family: sans-serif;
}

a, a:visited {
    color: $color-1;
    text-decoration: underline;

    &:hover {
        color: $color-1;
        text-decoration: none;
    }
}
