@import "_mixins";
@import "typography";

.button {
    cursor: pointer;
    padding: $spacing-small $spacing-medium;
    border: 2px solid #FFF;
    @include customFont();
    border-radius: $spacing-large;
    font-weight: bold;
    font-size: 100%;

    &:hover {
        background-color: $color-1;
        color: #FFF;
    }

    &:disabled {
        background-color: #666;
        color: #b6b6b6;
        border-color: #b6b6b6;
    }

    &--block {
        display: block;
        text-align: center;
    }

    &--small {
        font-size: 75%;
        padding: $spacing-xsmall $spacing-small;
        border-radius: $spacing-medium;
    }

    &--ghost {
        background: transparent;
        border: none;
    }
}
