@import "_mixins";
@import "typography";

.button {
    cursor: pointer;
    padding: $spacing-small $spacing-medium;
    border: 2px solid #FFF;
    @include customFont();
    border-radius: $spacing-large;
    font-weight: bold;
    font-size: 100%;

    &:hover {
        background-color: $color-1;
        color: #FFF;
    }

    &--block {
        display: block;
        text-align: center;
    }
}
